@using DoAn003.Models;
@using DoAn003.Models.ListEntities;
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.title-Đồ Án 3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/Assets/Clt/images/logo.png"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/Cre/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/Cre/css/animate.css">

    <link rel="stylesheet" href="~/Assets/Cre/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/Cre/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Assets/Cre/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Assets/Cre/css/aos.css">
    <link rel="stylesheet" href="~/Assets/Cre/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/Cre/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Assets/Cre/css/jquery.timepicker.css">

    <link rel="stylesheet" href="~/Assets/Cre/css/flaticon.css">
    <link rel="stylesheet" href="~/Assets/Cre/css/icomoon.css">
    <link rel="stylesheet" href="~/Assets/Cre/css/style.css">
</head>
<body class="goto-here">
    <div class="py-1 bg-primary">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <span class="text">0985507150</span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                            <span class="text">lienhe@vuoncayviet.com</span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                            <span class="text"> Miễn phí vận chuyển với đơn hàng từ 100,000 đồng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{ 
        var giohang = Session["YourCart"] as List<Cart>;
        var khach = Session["khachhang"] as KhachHang;        
        WebCayCanhDB data = new WebCayCanhDB();

    }
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="~/TrangChu/Home"><img src="~/Assets/Clt/images/logo.png" height="42" width="50" alt="vườn cây việt, cây gì cũng có"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><form action="@Url.Action("timkiemtheoten","TimKiem")" method="get"><span class="nav-link"><i class="icon-search"></i><input class="search-form" name="kw" id="kw" type="search" placeholder="tìm kiếm" /></span></form></li>
                    <li class="nav-item active"><a href="~/TrangChu/Home" class="nav-link">Trang chủ</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="~/TrangChu/SanPham" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sản Phẩm</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                      @{ 
                          LoaiSanPhamModel qll = new LoaiSanPhamModel();
                          var dsloai = qll.DanhSachLoai();
                              }
                            @foreach (var item in dsloai) {
                            <a class="dropdown-item" href="~/TrangChu/DanhMuc/@item.MaLoai">@item.TenLoai</a>
                                }
                        </div>
                    </li>
                    <li class="nav-item"><a href="~/TrangChu/GioiThieu" class="nav-link">Giới thiệu</a></li>
                    <li class="nav-item"><a href="~/TrangChu/TinTuc" class="nav-link">Tin tức</a></li>
                    <li class="nav-item"><a href="~/TrangChu/LienHe" class="nav-link">Liên hệ</a></li>
                   @if (khach == null)
                   {
                    <li class="nav-item dropdown"><a href="~/DangNhapVaDangKy/login" class="nav-link dropdown-toggle" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-user" title="tài khoản của bạn"></span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="~/DangNhapVaDangKy/login">Đăng Nhập</a>
                            <a class="dropdown-item" href="~/DangNhapVaDangKy/signup">Đăng Ký</a>
                        </div>
                    </li>
                   }
                   else
                   {
                    <li class="nav-item dropdown"><a href="~/DangNhapVaDangKy/thongtintk" class="nav-link"><span class="icon-user" title="@Session["email"]">@Session["email"]</span></a>                    
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="~/DangNhapVaDangKy/login">Tài Khoản</a>
                            <a class="dropdown-item" href="~/DangNhapVaDangKy/logout">Đăng Xuất</a>
                        </div>
                    
                    </li>
                   }
                   @if (giohang == null || giohang.Count == 0)
                    {
                    <li class="nav-item cta cta-colored"><a href="~/Cart/Cart" title="giỏ hàng của bạn" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>}
                    else
                    {
                        <li class="nav-item cta cta-colored"><a href="~/Cart/Cart" title="giỏ hàng của bạn" class="nav-link"><span class="icon-shopping_cart"></span>[@giohang.Count]</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    @RenderBody()


    
    <hr>
    <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
        <div class="container py-4">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-6">
                    <h2 style="font-size: 22px;" class="mb-0">Đăng ký để nhận thông tin</h2>
                    <span>chúng tôi sẽ gửi email cho bạn nếu như có thông tin mới</span>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <form action="#" class="subscribe-form">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control" placeholder="email của bạn">
                            <input type="submit" value="Đăng ký" class="submit px-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a href="#" class="mouse-icon">
                        <div class="mouse-wheel" title="về đầu trang"><span class="ion-ios-arrow-up"></span></div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Vườn cây Việt</h2>
                        <p>Ở đây chúng tôi cung cấp những loại cây cảnh còn đẹp hơn crush của bạn.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="https://twitter.com/dichswifty" target="_blank"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.facebook.com/dickdzaii" target="_blank"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.instagram.com/dickdzaii" target="_blank"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Menu</h2>
                        <ul class="list-unstyled">
                            <li><a href="~/TrangChu/SanPham" class="py-2 d-block">Cửa hàng</a></li>
                            <li><a href="~/TrangChu/GioiThieu" class="py-2 d-block">Giới thiệu</a></li>
                            <li><a href="~/TrangChu/TinTuc" class="py-2 d-block">Tin tức</a></li>
                            <li><a href="~/TrangChu/LienHe" class="py-2 d-block">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Giúp đỡ</h2>
                        <div class="d-flex">
                            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                                <li><a href="#" class="py-2 d-block">Cách thức giao hàng</a></li>
                                <li><a href="#" class="py-2 d-block">Chính Sách đổi trả</a></li>
                                <li><a href="#" class="py-2 d-block">Điều khoản dịch vụ</a></li>
                                <li><a href="#" class="py-2 d-block">Quyền riêng tư</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block">FAQs</a></li>
                                <li><a href="#" class="py-2 d-block">Ok</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Mọi thắc mắc xin liên hệ</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">20/4 Kỳ Đồng, Phường 9, Quận 3, TP.HCM</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">0985507150</span></a></li>
                                <li><a href="#" target="_blank"><span class="icon icon-envelope"></span><span class="text">lienhe@vuoncayviet.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="~/Assets/Cre/js/jquery.min.js"></script>
    <script src="~/Assets/Cre/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Assets/Cre/js/popper.min.js"></script>
    <script src="~/Assets/Cre/js/bootstrap.min.js"></script>
    <script src="~/Assets/Cre/js/jquery.easing.1.3.js"></script>
    <script src="~/Assets/Cre/js/jquery.waypoints.min.js"></script>
    <script src="~/Assets/Cre/js/jquery.stellar.min.js"></script>
    <script src="~/Assets/Cre/js/owl.carousel.min.js"></script>
    <script src="~/Assets/Cre/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/Cre/js/aos.js"></script>
    <script src="~/Assets/Cre/js/jquery.animateNumber.min.js"></script>
    <script src="~/Assets/Cre/js/bootstrap-datepicker.js"></script>
    <script src="~/Assets/Cre/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Assets/Cre/js/google-map.js"></script>
    <script src="~/Assets/Cre/js/main.js"></script>

</body>
</html>
<style>
    .search-form{
        border:none;
    }
</style>